@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  max-width: $layout-post-width;
  margin: 0 auto;

  color: $color-gray;
  font-size: $typographic-small-font-size;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-of-type {
      margin-right: 1em;
    }
  }

  &__icon {
    margin-right: .3em;
  }
}

@include breakpoint-md {
  .meta {
    flex-direction: row;
  }
}